<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h3>Thank you for your business!</h3>
        <p>We charged your credit card for {{charged}}$</p>
        <p>You have ordered {{all_orders_total_quantity}} items so far and spent {{all_orders_price}}$ with Amadon.com!</p>
        <p><a class="btn btn-info" href="/">Go Back</a></p>
    </div>
</body>
</html>