<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Amadon Store!</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in all_products %}
                <tr>
                    <form action="/order" method="post">
                        {% csrf_token %}
                        <td>{{product.description}}</td>
                        <td><input type="hidden" name="product_id" value="{{product.id}}">{{product.price}}</td>
                        <td><select class="custom-select" name="quantity">
                            <option value="1">1</option>              
                            <option value="2">2</option>              
                            <option value="3">3</option>              
                        </select></td>
                        <td><input class="btn btn-info" type="submit" value="Buy!"></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>